/*
 * MUCtool Web Toolkit
 *
 * Copyright 2018 Alexander Orlov <alexander.orlov@loxal.net>. All rights reserved.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
@import url(layout.css);
@import url(font.css);
/*@import url(font/css/font-awesome.min.css);*/

:root {
    --accent-color: hsla(270, 55%, 55%, 1);
    --info-color: hsla(222, 99%, 55%, .9);
}

body {
    background: repeating-linear-gradient(120deg, hsla(222, 99%, 88%, .4), hsla(222, 99%, 88%, .1) 5px, hsla(222, 99%, 88%, .4) 5px, hsla(222, 99%, 88%, .1) 11px);
    font-family: "Ubuntu", sans-serif;
}

#control-panel {
    background: linear-gradient(90deg, hsla(222, 99%, 78%, .9), hsla(222, 99%, 88%, .2));
    border-radius: 1em 1em 0em 0em;
    box-shadow: 1em 2em 1em #ccc;
}

#main {
    background-color: #fff;
    border-radius: 0 0 1em 1em;
    box-shadow: 1em 2em 1em #ccc;
}

#header-description {
    color: var(--accent-color);
    font-size: 1.2em;
}

#title, #header-title {
    color: hsla(222, 88%, 33%, .9);
    /*text-shadow: 0px 2px 3px #555;*/
}

#title {
    font-size: 3em;
    font-weight: bold;
    font-family: "Courgette", fantasy;
}

.success {
    color: hsla(99, 99%, 33%, .9);
}

.warn {
    color: hsla(0, 99%, 33%, .9);
}

.info {
    text-align: center;
    position: fixed;
    top: 11em;
    left: auto;
    background: hsla(222, 55%, 88%, .9);
    width: 300px;
    margin: 1em;
    padding: 1em;
    border: 1px solid var(--info-color);
    border-radius: 1em;
}

#dialog {
    position: fixed;
    top: 11em;
    left: auto;
    color: var(--info-color);
    background: hsla(222, 55%, 88%, .9);
    width: 300px;
    margin: 1em;
    padding: 1em;
    border: 1px solid var(--info-color);
    border-radius: 1em 1em 1em 1em;
}

#dialog-warning {
    width: 300px;
    color: #911;
    margin: 1em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 1em 1em 1em 1em;
}

.missing-value {
    color: #911;
    float: right;
}

.post {
    margin-bottom: 3em;
}

small {
    font-size: .8em;
}

/*h1, h2, h3, */
/*legend {*/
/*font-weight: bold;*/
/*!*text-shadow: 0 1pt 1pt #555;*!*/
/*}*/

.compact {
    font-size: 16px;
}

h1 {
    font-size: 1.3em;
}

h2 {
    font-size: 1.1em;
}

h3 {
    font-size: 1.0em;
}

address, code, pre {
    background-color: hsla(222, 66%, 88%, .2);
    font-family: sans-serif;
    border: 1px dotted #ddd;
    border-radius: 1em;
    padding: 1em;
}

.nav a {
    padding: .5em;
    display: block;
}

ul.nav {
    margin-left: -2.5em;
    display: inline;
}

ul.nav li {
    list-style-type: none;
}

ul.nav li, #login {
    background: hsla(222, 66%, 66%, .2);
    border: .1em solid hsla(222, 99%, 55%, .1);
    border-radius: .3em .3em .3em .3em;
    padding: .3em;
}

ul.nav li:hover, #login:hover {
    background: hsla(222, 66%, 66%, .4);
    border: .1em solid var(--info-color);
}

a {
    color: hsla(222, 99%, 44%, .9);
    text-decoration: none;
}

a:active {
    color: #000;
}

a:hover {
    color: hsla(222, 99%, 66%, .9);
}

a:visited {
    color: hsla(222, 99%, 22%, .9);
}

input {
    margin-bottom: .6em;
    border-radius: .5em;
    padding: .5em;
    border: .1em solid hsla(222, 99%, 55%, .4);
}

button, input[type="submit"] {
    margin: 1.5em;
}

input[type="text"] {
    width: 22em;
}

input[readonly] {
    background: #999;
}

.input-long {
    width: 333px;
}

textarea {
    width: 90%;
    height: 222px;
    margin: .3em .3em .3em 2em;
    padding: 1em;
    border-radius: .5em;
}

table {
    border-collapse: collapse;
    /*border: .1em solid hsla(222, 99%, 55%, .1);*/
    border-radius: 1em;
    width: 99%;
}

/*tr:nth-child(odd) {*/
/*background: hsla(222, 66%, 55%, .1);*/
/*}*/

th {
    padding: .5em;
    background: hsla(222, 99%, 55%, .2);
    border: .1em solid hsla(222, 99%, 55%, .1);
}

td {
    padding: .5em;
    /*border: .1em solid hsla(222, 99%, 55%, .1);*/
}

fieldset {
    /*width: 9%;*/
    padding: 1em;
    margin: 1em;
    border: 1px solid #ddd;
    border-radius: 0 .5em 0 .5em;
}

/*legend {*/
/*padding: .5em;*/
/*}*/

/*li {*/
/*padding: .2em;*/
/*}*/

.min-width {
    width: 40em;
}

#questionnaire label {
    display: flex;
    justify-content: space-between;
}

span.caps {
    border-bottom: 1px dashed #999;
    /*cursor: help;*/
}

blockquote {
    margin: 1.5em 3em 0 1em;
    padding-left: 2em;
    border-left: .5em solid #ddd;
}

blockquote cite {
    margin: .5em 0 0 0;
    display: block;
}

/*img {*/
/*border: none;*/
/*}*/

label {
    /*display: block;*/
    /*font-weight: bold;*/
    margin-right: 1em;
}

p, dl {
    margin: 1em;
    text-align: justify;
}

.long-text {
    column-count: 2;
}